body {
  max-width: 900px;
  margin: auto;
  background-color: #DCE1E3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Home Page Elements*/
h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515052;
}
a {
  text-decoration: none;
}

#question-container {
  border-top: 1px solid lightgray;
  max-width: 620px;
}

#box-container {
  display: inline-block;
  width: 190px;
}

.stat-boxes {
  display: inline-block;
  width: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.value {
  color: #CC6DF2;
  font-size: 18px;
}
.word{
  color: #05B3ED;
  font-size: 11px;
}
.title-container {
  width: 400px;
  display: inline-block;
}
#qtitle {
  color: #5F77CC;
  text-decoration: none;
  font-size: 17px;
}
#under-title {
  font-size: 12px;
  color: gray;
  text-align: right;
}
.tag {
  border: 1px solid #B7E1FC;
  background: #B7E1FC;
  color: #495A64;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

/*Login Page*/
.login-container {
  margin: auto;
  margin-top: 15px;
  border: 1px solid #cfcfd1;
  text-align: center;
  padding: 30px;
  width: 300px;
  font-size: 13px;
}

input[type=text], input[type=password] {
  margin: 10px;
  width: 250px;
  padding: 10px;
  font-size: 15px;
}

#login {
  text-align: center;
  background: skyblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  width: 120px;
  margin-bottom: 0;
  margin-left: 150px;
}


