body {
  max-width: 900px;
  margin: auto;
}
/* Home Page Elements*/
#question-container {
  border: 2px solid blue;
  max-width: 800px;
}

#box-container {
  /*border: 1px solid black;*/
  display: inline-block;
  width: 300px;
}

.stat-boxes {
  display: inline-block;
  width: 90px;
  border: 1px solid black;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
}

#title-container {
  border: 1px solid black;
  width: 400px;
  display: inline-block;
  /*margin-top: 25px;*/

}
#qtitle {
  color: #5F77CC;
  font-size: 20px;
}
.tag {
  border: 1px solid #B7E1FC;
  background: #B7E1FC;
  color: #495A64;
  padding: 5px;
  text-decoration: none;
}
