body {
  max-width: 900px;
  margin: auto;
  background-color: #DCE1E3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Home Page Elements*/
h1 {
  font-size: 18px;
  font-weight: normal;
  color: #515052;
}

a {
  text-decoration: none;
}

.stat-boxes {
  display: inline-block;
  width: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#question-container {
  border-top: 1px solid lightgray;
  max-width: 620px;
  padding: 5px;
}

#box-container {
  display: inline-block;
  width: 190px;
}

.value {
  color: #CC6DF2;
  font-size: 18px;
}

.word{
  color: #05B3ED;
  font-size: 11px;
}

.title-container {
  width: 400px;
  display: inline-block;
}

#qtitle {
  color: #5F77CC;
  text-decoration: none;
  font-size: 17px;
}
#qtitle:hover {
  color: lightblue;
}

#under-title {
  font-size: 12px;
  color: gray;
  text-align: right;
  margin-bottom: 10px;
}
.tag {
  border: 1px solid #B7E1FC;
  background: #B7E1FC;
  color: #495A64;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

/*Login/Reg Page*/
.login-container {
  margin: auto;
  margin-top: 15px;
  border: 1px solid #cfcfd1;
  text-align: center;
  padding: 30px;
  width: 300px;
  font-size: 13px;
}

.login-container input[type=text], input[type=password] {
  margin: 10px;
  width: 250px;
  padding: 7px;
  font-size: 15px;
}

#enter-button {
  text-align: center;
  background: skyblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  width: 120px;
  margin-bottom: 0;
  margin-left: 150px;
}

.reglabel {
  margin-left: 0;
}

/*All Users Show Page */
.avatar {
  width: 120px;
}
.users-grid {
  width: 800px;
}
.user-block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 15px;
  border: 2px solid #cfcfd1;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.user-name {
  color: gray;
}

/*Single Question Page*/
.votebox {
  display: inline-block;
  vertical-align: top;
  padding: 7px;
  margin-top: 17px;
}

.question_description {
  display: inline-block;
  width: 500px;
  border-bottom: 1px solid #cfcfd1;
  border-top: 1px solid #cfcfd1;
  padding: 20px;
  font-size: 15px;
  line-height: 1.3;
}

.question_stats {
  list-style: none;
  border: 1px solid pink;
  display: inline-block;
  font-size: 11px;
}
#tagbox {
  margin-left: 50px;
}

.star {
  background: none;
  border: none;
}
.star:focus {
  outline: none;
}
.fa-star {
  color: #cfcfd1;
}

.green-star {
  color: green;
}

.new_comment_form {
  display: none;
}
/*Main page header========================================*/
/*Top Bar Edits*/

/*main header object*/
._topbar {
  padding-left: 0;
  display: inline-block;
  width: 1060px;
  background-color: #098B8B;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items:center;
  position: relative;
}

#logo-container {
  vertical-align: top;
  height: 160px;
  display: inline;
}

/* the logo itself */
#logo {
  border: 5px double #DCE1E3;
  vertical-align: top;
  height: 160px;
  display: inline;
}

/* inbox and reputation links */
.inbox-rep-links {
    padding-left: 20px;
    display: inline;
}

#inbox-icon {
  color: #181B1B;
}

#reputation_and_badges-icon {
  color: #181B1B;
  padding-left: 10px;

}

/* signup/login/tour/help links */
.signup-links {
    padding: 10px;
    vertical-align: top;
    position: absolute;
    right: 50px;
    top: 55px;
}

#bigcontainer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-top: 20px;
}

#secondary-container{
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.second-bar {
  background: #9FA6AD;
  color: white;
  font-size: 15px;
  padding: 5px;
}
.second-bar:hover{
  background: lightblue;
}

/*upvote/downvote*/
#thumbs-down {
  color: #098B8B;
}

#thumbs-up {
  color: #098B8B;
}

.tags-header {
  width: 85%;
  margin: auto;
}

.tags-section {
  margin: 20px 0;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.tag-block {
  width: 150px;
  margin: auto;
}

.tag-box {
  border: 1px solid #B7E1FC;
  background: #B7E1FC;
  color: #495A64;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

.new-question-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: 0;
}

.new-question-text-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.new-question-label {
  width: 30%;
}

.new-question-form input[type=text] {
  width: 100%;
  margin: 0;
  padding: 0;
}

.new-question-form textarea {
  width: 100%;
  height: 100px;
}

/*Color Palette*/

/* As hex codes */

  /*background-color: #DCE1E3; */

.color-primary-0 { color: #226666 } /* Main Primary color */
.color-primary-1 { color: #00C8C8 } /*light*/
.color-primary-2 { color: #098B8B } /*med light*/
.color-primary-3 { color: #274141 } /*med dark*/
.color-primary-4 { color: #181B1B } /*darkest*/


/* As RGBa codes */

.rgba-primary-0 { color: rgba( 34,102,102,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba(  0,200,200,1) }
.rgba-primary-2 { color: rgba(  9,139,139,1) }
.rgba-primary-3 { color: rgba( 39, 65, 65,1) }
.rgba-primary-4 { color: rgba( 24, 27, 27,1) }

