<div class="_topbar">
  <div class="topbar-container">
    <div class="topbar-icons">
      <a href="" <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
      <a href="" <i class="fa fa-trophy fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="topbar-links">
    <% if logged_in? %>
      <a class="topbar-link" href="/users/<%= current_user.id %>">hey, <%= current_user.username %></a> |
      <a class="topbar-link" href="/users/logout">logout</a> |
      <a class="topbar-link" href="/">home</a>
    <% else %>
      <a class="topbar-link" href="/users/new">sign up</a> |
      <a class="topbar-link" href="/users/login">log in</a> |
      <a class="topbar-link" href="/">home</a>
    <% end %>
    </div>
    <div class="topbar-search-container">
      <form>
        <input class="topbar-search" type="" ="text" name="topbar-search">
      </form>
    </div>
  </div>
</div>
