<div class="users-grid">
<% @users.each do |user| %>

  <div class="user-block">
    <a href="/users/<%= user.id %>"><img class="avatar" src="https://raw.githubusercontent.com/emritcey/culdesac-overflow/master/public/imgs/culdesacoverflowlogo.png"></a><br>
    <a href="/users/<%= user.id %>" class="user-name"><%= user.username %></a>
  </div>

<% end %>
</div>
