<h1>Users</h1>


<!-- <form class="users-search" action="/users/:id" method="GET">
  <label for="users_search">Type to find users:</label>
  <input type="text" name="users_search">
</form> -->



<section class="users-section">
  <div class="users-container">
    <%= erb :'users/_user-block' %>
  </div>
</section>
