<header class="user-header">
  <h2 class="user-title">Users</h2>
  <ul class="user-tabs">

  </ul>
<!-- <form class="users-search" action="/users/:id" method="GET">
  <label for="users_search">Type to find users:</label>
  <input type="text" name="users_search">
</form> -->
</header>


<section class="users-section">
  <div class="users-container">
    <%= erb :'users/_user-block' %>
  </div>
</section>
