<h3 class="answer-count">Your Answer</h3>
<form class="answer-form" action="/questions/<%= @question.id %>/answers" method="POST">
  <textarea class="answer-textbox" name="description"></textarea>
  <input type="submit" id="answer-button" value="Post Your Answer">
</form>
