<h3 class="answer_form_heading">Your Answer</h3>
<form action="/questions/<%= @question.id %>/answers" method="POST">
  <textarea class="answer_textbox" name="description"></textarea>
  <input type="submit" value="Post Your Answer">
</form>
