<% @questions.each do |question| %>
<div id="stat-boxes">
    <p id="stat-box-question"><%= question.votes.count %> Votes</p>
    <p id="stat-box-answer"><%= question.answers.count %> Answers</p>
    <p id="stat-box-view"><%= question.views_count.to_i %> Views</p>
</div>

<div id="title"><%= question.title %></div>
<div id="title">asked by USERNAME </div>


<% end %>
