<div id="bigcontainer">
  <span>Icon</span>
  <div id="secondary-container">
    <a class="second-bar"href="/">Questions</a>
    <a class="second-bar" href="/tags">Tags</a>
    <a class="second-bar" href="/users">Users</a>
    <a class="second-bar" href="/questions/new">Ask Question</a>
  </div>
</div>
