<div class="header-container">
  <div class="logo-container">
    <a href="/"><img id="logo" src="https://raw.githubusercontent.com/emritcey/culdesac-overflow/master/public/imgs/culdesacoverflowlogo.png"></a>
  </div>
  <div class="nav-container">
    <a class="nav-button"href="/">Questions</a>
    <a class="nav-button" href="/tags">Tags</a>
    <a class="nav-button" href="/users">Users</a>
    <a class="nav-button" href="/questions/new">Ask Question</a>
  </div>
</div>
