<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/user_profile.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
<body>

  <div class="_topbar">
    <div id="logo-container">
        <a href="/"><img id="logo" src="https://raw.githubusercontent.com/emritcey/culdesac-overflow/master/public/imgs/culdesacoverflowlogo.png"></a>
    </div>

    <div class="inbox-rep-links">
        <a href="#" id="inbox-icon"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>
        <a href="" id="reputation_and_badges-icon"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i></a>
    </div>


    <div class="signup-links">
        <a href="/users/new" id="signup-link">sign up</a>
        <% if logged_in? %>
        <a href="/users/<%= current_user.id %>" id="login-link"><%= current_user.username %></a>
        <% else %>
        <a href="/users/login">log in</a>
        <% end %>
        <!-- <a href="">tour</a>
        <a href="">help</a> -->
    </div>
</div>


  <%= yield %>


</body>
</html>
