<a href="#" id="thumbs-up"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </a>
<!-- have to implement the count  something like votes.count to be inceremented up and down -->
<p>#</p>
<a href="#" id="thumbs-down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
<!-- votes.user_id can only be used one time
votes.count should increment or decrement accordingly -->
